blue          = #2ba6d4
darkBlue      = #207c9f
darkerBlue    = #15536a
black         = #222

twitterBlue   = #0099ec
facebookBlue  = #2d4785
googleRed     = #c43b2b

@import 'include/icons.styl'
@import 'include/basic.styl'
@import 'include/helpers.styl'
@import 'include/type.styl'
@import 'include/header.styl'
@import 'include/buttons.styl'
@import 'include/layout.styl'
@import 'include/footer.styl'
@import 'include/resources.styl'

@import 'include/tooltip.styl'

@import 'include/responsive.styl'