blue          = #2ba6d4
darkBlue      = #207c9f
darkerBlue    = #15536a
black         = #222

twitterBlue   = #0099ec
facebookBlue  = #2d4785

@import 'include/icons.styl'
@import 'include/basic.styl'
@import 'include/type.styl'
@import 'include/header.styl'
@import 'include/buttons.styl'
@import 'include/layout.styl'
@import 'include/footer.styl'

@import 'include/responsive.styl'

// Comment this line out when all the content is in place
// @import 'include/hide.styl'