@font-face{font-family:'uxdesignday';src:url("../fonts/uxdesignday.eot");src:url("../fonts/uxdesignday.eot?#iefix") format('embedded-opentype'),url("../fonts/uxdesignday.woff") format('woff'),url("../fonts/uxdesignday.ttf") format('truetype'),url("../fonts/uxdesignday.svg#uxdesignday") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'uxdesignday';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-ticket,.icon-users,.icon-flag,.icon-calendar,.icon-facebook,.icon-twitter,.icon-googleplus,.icon-github,.icon-flickr,.icon-book{font-family:'uxdesignday';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-ticket:before{content:"\e000"}
.icon-users:before{content:"\e001"}
.icon-flag:before{content:"\e002"}
.icon-calendar:before{content:"\e003"}
.icon-facebook:before{content:"\e004"}
.icon-twitter:before{content:"\e005"}
.icon-googleplus:before{content:"\e006"}
.icon-github:before{content:"\e007"}
.icon-flickr:before{content:"\e008"}
.icon-book:before{content:"\e009"}
body{background:#f7f6f5;font-family:'Open Sans',sans-serif;color:#222;padding:100px 0 0;margin:0;font-size:20px;-webkit-font-smoothing:antialiased}
.logo{background-image:url("../img/logo.png");background-size:cover;width:220px;height:200px;margin-left:170px;}
.logo.wellington{background-image:url("../img/logo_wel.png");width:262px;height:215px;margin-left:123px}
.icon-twitter{color:#0099ec;transition:#0099ec 250ms;}
.icon-twitter:hover{color:#20b1ff}
.icon-facebook{color:#2d4785;transition:#2d4785 250ms;}
.icon-facebook:hover{color:#3a5bab}
.icon-googleplus{color:#c43b2b;transition:#c43b2b 250ms;}
.icon-googleplus:hover{color:#d7594b}
.icon-github{color:#333;transition:#333 250ms;}
.icon-github:hover{color:#4d4d4d}
.gap{height:2em;clear:both;overflow:hidden}
.center{text-align:center}
.left{float:left}
.right{float:right}
.hide{display:none}
.white-section{background-color:#fff}
.blue-section{background-color:#2ba6d4;color:#fff}
.black-section{background-color:#222;color:#fff}
.gray-section{background-color:#f7f6f5}
.overflow{overflow:hidden}
h1{font-size:1.7em;line-height:1.4em;font-weight:600;margin:0 0 40px;letter-spacing:-1px}
h2{font-size:1.3em;font-weight:600;margin:0 0}
h3{font-size:.9em;margin:5px 0 0;font-weight:600}
p{font-size:1em;font-weight:400;line-height:30px}
a{text-decoration:none;color:#2ba6d4}
#event-details a{color:#fff;font-weight:bolder;}
#event-details a:hover{text-decoration:underline}
ul{margin:0;padding:0;list-style-type:none}
b,strong,bold{font-weight:700}
td{margin-right:20px}
header{height:100px;position:fixed;top:0;left:0;z-index:150;width:100%;}
header .container{width:1000px}
header nav ul{padding:35px 0 0;margin:0;float:left;}
header nav ul li{float:left;display:inline-block;list-style-type:none;margin-right:40px;}
header nav ul li:last-child{margin-right:0}
header nav ul li a{color:#222;font-weight:600;font-size:.8em;}
header nav ul li a:hover{color:#2ba6d4}
header nav ul li a.active{color:#207c9f;}
header nav ul li a.active:hover{color:#2ba6d4}
header nav ul .icon{margin-right:10px}
header .nav-logo{background-image:url("../img/navlogo.png");width:60px;height:60px;background-size:cover;margin:20px 40px 0 0;float:left;transition:margin 150ms;}
header .nav-logo:hover{margin:15px 40px 5px 0;opacity:.9}
header #header-share{margin-top:39px;float:right;color:#808080;font-weight:600;font-size:.8em;}
header #header-share:hover{color:#222}
#share-box{float:right;z-index:100;height:60px;text-align:center;padding:20px 0 20px 20px;line-height:75px;}
#share-box ul{cursor:normal}
#share-box li{display:inline;margin:0 3px;}
#share-box li:last-child{margin-right:0}
#share-box li a{font-size:1.5em;transition:color 250ms}
.button{color:#fff;background-color:#207c9f;padding:30px 40px;font-size:1em;font-weight:700;text-transform:uppercase;margin:20px 0;box-shadow:10px 10px 0 #15536a;transition:background-color 100ms,margin 100ms,box-shadow 100ms;position:relative;float:left;}
.button:hover{background-color:#2283a7;color:#fff !important}
.button:active{box-shadow:none;margin:30px -10px 10px 10px}
.button .button-inner{background-color:#1e7597;position:absolute;left:0;top:0;height:100%;padding:0 20px;line-height:89px}
section{padding:40px 0;clear:both;min-width:1040px}
.container{width:1000px;margin:0 auto;padding:0 20px;position:relative}
#event-details{float:left;margin:33px 0 0 40px;}
#event-details p{font-size:.6em;line-height:.6em}
#reasons{margin-top:40px;margin-bottom:0;overflow:hidden}
.box{float:left;width:280px;margin:0 20px 20px 0;}
.box-last{margin:0 0 20px 0}
.box-reason{background-color:#38abd7;transition:background-color 250ms;cursor:default;padding:10px 20px;min-height:260px;}
.box-reason:hover{background-color:#40afd8}
.box-speaker{width:235px;margin-bottom:40px;}
.box-speaker h3{margin-bottom:0}
.box-speaker a,.box-speaker .speaker-title{font-size:.75em;line-height:1.3em;display:block;margin:0;color:#808080;transition:color 250ms}
.box-speaker a:hover{color:#2ba6d4}
.sponsor-section{min-height:400px;}
.sponsor-section img{margin:0 40px 0;border:none;opacity:.9;}
.sponsor-section img:hover{opacity:1}
.sponsor-section .medallion{display:block;position:relative;float:left;margin:30px 121px;width:91px;height:92px;background-image:url("../img/medals_sprite@2x.png");background-position:left top;background-size:cover;}
.sponsor-section .medallion.silver{background-position:182px top}
.sponsor-section .medallion.bronze{background-position:91px top}
.sponsor-box{display:inline-block;width:330px;vertical-align:top}
.social{text-align:center;}
.social li{display:inline;margin:0 5px;}
.social li a{font-size:48px;transition:color 250ms}
footer ul{margin:30px auto 20px;text-align:center;}
footer ul li{color:#666;font-size:.6em;font-weight:600;margin:5px 0;}
footer ul li a:hover{color:#207c9f}
.resource-section h1{margin-bottom:0}
.resource-section p{margin-bottom:40px}
.resources{margin-top:20px;width:100%;overflow:hidden;}
.resources li{margin-bottom:20px;width:50%;float:left;}
.resources li h2{margin-bottom:20px}
.resources li a{float:left;clear:left;font-size:.75em;color:#222;padding:5px 0;transition:padding 150ms;}
.resources li a:hover{color:#2ba6d4;padding:5px 0 5px 5px}
.tooltip{position:absolute;z-index:200;display:block;visibility:visible;font-size:.6em;line-height:1.4;opacity:0;border-radius:6px;transition:opacity 500ms;}
.tooltip.in{opacity:1}
.tooltip.top{margin-top:-3px;padding:5px 0}
.tooltip.right{margin-left:3px;padding:0 5px}
.tooltip.bottom{margin-top:3px;padding:5px 0}
.tooltip.left{margin-left:-3px;padding:0 5px}
.tooltip-inner{max-width:400px;padding:8px;color:#fff;text-align:center;text-decoration:none;background-color:rgba(0,0,0,0.9);border-radius:6px;font-weight:600}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:rgba(0,0,0,0.9)}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:rgba(0,0,0,0.9)}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:rgba(0,0,0,0.9)}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:rgba(0,0,0,0.9)}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){header .nav-logo{background-image:url("../img/navlogo@2x.png")}
.logo.wellington{background-image:url("../img/logo_wel@2x.png")}
}@media screen and (max-width: 980px){header{position:absolute}
}@media screen and (max-width: 600px){body{font-size:18px}
.container,.box,.box-reason,.button,.box-speaker img,.resources li{width:100%;box-sizing:border-box;-moz-box-sizing:border-box}
#event-details{margin:0}
header .container{width:100%}
section{min-width:0}
.box-speaker img{height:auto}
.sponsor-section .container img{margin:30px auto;display:block;padding:0}
.logo,#nav-links,#header-share{display:none}
body.home{margin-top:60px;padding:0;}
body.home a{background-color:#2ba6d4;padding:1em .5em;margin:0 0;display:block;}
body.home a:hover{background-color:#ffa500}
body.home a .location{font-size:18px;color:#fff;margin:0}
body.home a .date{color:#fff;float:right;margin:0}
}.schedule{padding-top:0;font-size:.95em;}
.schedule h1{margin-bottom:0}
.schedule h2{margin:20px 0 10px}
.schedule td{padding:5px 40px 10px 0}
.home{margin-top:120px;background-color:#222;padding:40px;}
.home a .location{text-transform:uppercase;font-weight:900;font-size:96px;margin:0 20px;letter-spacing:-.05em}
.home a .date{color:#666}
.home a:hover{color:#ffa500}
