.bio
  display none

.bio-overlay
  position fixed
  z-index 500
  top 0
  left 0
  width 100%
  height 100%
  background-color white
  display none

  .bio-modal
    position relative
    z-index 1000
    margin 0px auto
    padding 30px
    box-sizing border-box
    max-width 680px
    max-height 100%
    overflow-y scroll
    font-size 0.9em
    text-align left
    background-color white

  .bio-modal-close
    cursor pointer
    float right
    font-size 1.8em
    padding 0px 5px
    transition transform 500ms

    &:hover
      transform rotate(180deg)

  .bio-modal-close:before
    content "×"