// Button style

.button
  color white
  background-color blue
  padding 20px 40px
  font-size 1em
  font-weight 600
  margin 20px 0px
  transition background-color 100ms
  border-radius 6px
  display inline-block

  &:hover
    background-color lighten(blue, 5)
    color white

  &:active
    background-color darken(blue, 5)
    box-shadow inset 0px 5px 10px rgba(0,0,0,0.15)