// Footer

.social
  text-align center

  li
    display inline
    margin 0px 5px

    a
      font-size 48px
      transition color 250ms

footer ul
  margin 30px auto 20px
  text-align center

  li
    color #666
    font-size 0.6em
    font-weight 600
    margin 5px 0px