// Fixed header / navigation

header
  height 100px
  position fixed
  top 0px
  left 0px
  overflow hidden
  z-index 150
  width 100%

  nav ul
    padding 38px 0px 0px
    margin 0px
    float left

    li
      float left
      display inline-block
      list-style-type none
      margin-right 40px

      &:last-child
        margin-right 0px

      a
        color black
        font-weight 600

        &:hover
          color blue

    .icon
      margin-right 10px

  .nav-logo
    background-image url('../img/navlogo@2x.png')
    width 60px
    height 60px
    background-size cover
    margin-right 40px
    float left
    margin-top 20px