// Fixed header / navigation

header
  background-color white
  height 80px
  position fixed
  top 0px
  left 0px
  overflow hidden
  z-index 150
  width 100%

  nav ul
    padding 25px 0px 0px
    margin 0px

    li
      float left
      display inline-block
      list-style-type none
      margin-right 60px

      &:last-child
        margin-right 0px

      a
        color black
        font-weight 600

        &:hover
          color blue