// Miscellaneous helper classes

.gap
  height 2em
  clear both
  overflow hidden

.center
  text-align center

.left
  float left

.right
  float right

.hide
  display none

.blue-section
  background-color blue
  color white

.black-section
  background-color black
  color white

.gray-section
  background-color #f7f6f5

.overflow
  overflow hidden