// Miscellaneous helper classes

.gap
  height 2em
  clear both
  overflow hidden

.center
  text-align center

.left
  float left

.right
  float right

.hide
  display none

.overflow
  overflow hidden

.gray-section
  background #f7f6f5