// This is to hide stuff till the content is in place

// Speakers
#section-2
  display none

// Sponsors
#section-3
  display none

// Hide registration button, header
.button, header
  display none

// Get rid of the padding for the header
body
  padding-top 0px

// Anything else with class .hide
.hide
  display inline