.home
  margin-top 120px
  background-color black
  padding 40px

  a .location
    text-transform uppercase
    font-weight 900
    font-size 96px
    margin 0px 20px
    letter-spacing -0.05em

  a .date
    color #666

  a:hover
    color orange

