.home
  margin-top 120px
  background-color black
  padding 40px

  a .location
    text-transform uppercase
    font-weight 900
    font-size 96px
    margin 0px 20px
    letter-spacing -0.05em

  a .date
    color #666

  a:hover
    color orange


.sponsor-section
  .medallion
    display block
    position relative
    float left
    margin: 30px 121px

    width 91px
    height 92px
    background-image url("/img/medals_sprite@2x.png")
    background-position left top
    background-size cover

    &.silver
      background-position 182px top
    &.bronze
      background-position 91px top

.sponsor-box
  display inline-block
  width 330px
  vertical-align top

