// Layout

section
  padding 60px 0px
  //overflow hidden
  min-width 1040px

.container
  width 1000px
  margin 0px auto
  padding 0px 20px
  // clear both
  // position relative

#reasons
  margin-top 40px
  margin-bottom 0px
  overflow hidden

.box
  float left
  width 280px
  margin 0px 20px 20px 0px

  &-last
    margin 0px 0px 20px 0px

  &-reason
    background-color lighten(blue, 3)
    transition background-color 250ms
    cursor default
    padding 20px
    min-height 200px

    &:hover
      background-color lighten(blue, 5)

  &-speaker
    width 235px

    h3
      margin-bottom -5px

    a
      font-size 0.75em
      margin 0px
      color gray
      transition color 250ms

      &:hover
        color blue

.sponsor-section
  min-height 400px

  img
    padding 20px 40px 20px
    transition padding 250ms
    border none

    &:hover
      padding 0px 40px 40px