// Layout

section
  padding 60px 0px 80px
  overflow hidden

.container
  width 1000px
  margin 0px auto
  padding 0px 20px
  clear both
  overflow hidden

#reasons
  margin-top 40px

.box
  float left
  width 320px
  margin 0px 20px 20px 0px
  box-sizing border-box

  &:last-child
    margin-right 0px

  &-speaker
    background-color #ddd
    height 320px

  &-lightning
    width 150px

.social
  margin 0px auto
  text-align center

  li
    display inline
    margin 0px 10px

    a
      font-size 48px
      color white

    .icon-twitter:hover
      color twitterBlue

    .icon-facebook:hover
      color facebookBlue