// Layout

section
  padding 60px 0px 80px
  overflow hidden

.container
  width 1000px
  margin 0px auto
  padding 0px 20px
  clear both
  overflow hidden

#reasons
  margin-top 40px

.box
  color white
  float left
  width 320px
  margin 0px 20px 20px 0px
  box-sizing border-box

  &:last-child
    margin-right 0px

  &-speaker
    background-color #ddd
    height 320px

  &-lightning
    background-color #ddd
    width 150px
    height 150px