.resource-section 
  h1
    margin-bottom 0px

  p
    margin-bottom 40px

.resources
  margin-top 20px
  width 100%
  overflow hidden

  li
    width 50%
    float left
    min-height 450px

    h2
      margin-bottom 20px

    a
      float left
      clear left
      font-size 0.75em
      color black
      padding 5px 0px
      transition padding 150ms

      &:hover
        color blue
        padding 5px 0px 5px 5px