// Replace the logo with high res asset

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
  header .nav-logo
    background-image url('../img/navlogo@2x.png')

  .logo.wellington
    background-image url('../img/logo_wel@2x.png')


@media screen and (max-width: 980px)

  header
    position absolute

// Responsiveness for mobile

@media screen and (max-width: 600px)

  body
    font-size 18px

  .container, .box, .box-reason, .button, .box-speaker img, .resources li
    width 100%
    box-sizing border-box
    -moz-box-sizing border-box

  header .container
    width 100%

  section
    min-width 0

  .box-speaker img
    height auto

  .sponsor-section .container img
    margin 30px auto
    display block
    padding 0px

  .logo, #nav-links, #header-share
    display none

  #banner h1
    font-size 2.5em


