@media screen and (max-width: 800px)
  
  #nav-links
    display none

  body
    font-size 18px

  section
    min-width 0

  .container, .box, .button, .box-speaker img, .resources li
    width 100%
    box-sizing border-box

  header
    position absolute
    box-shadow none

  #banner h1
    font-size 2.5em

  .box-speaker img
    height auto

  .sponsor-section .container img
    margin 30px auto
    display block
    padding 0px


