// Responsiveness for mobile

@media screen and (max-width: 600px)

  body
    font-size 17px

  .container, .box-reason, .box-speaker, .box-lightning
    width 100%
    box-sizing border-box

  .logo, nav
    display none

  header
    position absolute

  .button
    width 100%
    box-sizing border-box

  .box-speaker img, .box-lightning img
    width 100%
    height auto

  #section-3 .container img
    margin 10px auto
    display block

  .resources li
    width 100%